@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  outline: none;
}

html,
body,
#__next,
.app-container {
  margin: 0;
  overflow: auto;
  padding: 0;
}

.container {
  @apply mx-auto;
  @apply px-8;
  @apply md:max-w-4xl;
  @apply lg:max-w-7xl;
}
