---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import Text from "../components/Text.astro";
import TextSmall from "../components/TextSmall.astro";
import Title from "../components/Title.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout title="Writing">
  <div class="mt-16">
    {
      posts.map((post) => (
        <PostCard
          url={post.url}
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          date={post.frontmatter.pubDate}
        />
      ))
    }
  </div>
</BaseLayout>
