---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Dev">
  Dev.
  <a href="https://google.com" target="_blank">Google</a>
</BaseLayout>

<script>
  window.alert(window.navigator.standalone);
</script>
