---
import Navbar from "../components/Navbar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";

export type LabProps = {
  url: string;
  title: string;
  description: string;
  pubDate: string;
};

const labs = (await Astro.glob("./lab/*.astro")) as unknown as LabProps[];
---

<BaseLayout title="Some experiments with javascript">
  <Navbar />
  <ul class="mt-16">
    {
      labs.map((lab) => (
        <li>
          <PostCard
            url={lab.url}
            title={lab.title}
            description={lab.description}
            date={lab.pubDate}
          />
        </li>
      ))
    }
  </ul>
</BaseLayout>
