---
import ArrowLeft from "./icons/ArrowLeft.astro";

const isHome = Astro.url.pathname === "/";
---

{
  !isHome && (
    <div class="fixed left-0 top-0 w-4 h-4 bg-white m-4 cursor-pointer">
      <div class="back-button">
        <ArrowLeft />
      </div>
    </div>
  )
}

<script>
  const button = document.querySelector(".back-button");

  function navigateBack() {
    window.history.back();
  }

  if (button) button.addEventListener("click", navigateBack);
</script>
